<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wood.common.mapper.SystemLogMapper">
  <resultMap id="BaseResultMap" type="com.wood.common.model.SystemLog">
    <result column="USER_ID" jdbcType="VARCHAR" property="userId" />
    <result column="PATH" jdbcType="VARCHAR" property="path" />
    <result column="IP_ADD" jdbcType="VARCHAR" property="ipAdd" />
    <result column="CREATE_DATE" jdbcType="DATE" property="createDate" />
    <result column="BROWSER" jdbcType="VARCHAR" property="browser" />
    <result column="VALUE" jdbcType="VARCHAR" property="value" />
  </resultMap>
  <insert id="insert" parameterType="com.wood.common.model.SystemLog">
    insert into T_01_SYSTEM_LOG (USER_ID, PATH, IP_ADD, 
      CREATE_DATE, BROWSER, VALUE
      )
    values (#{userId,jdbcType=VARCHAR}, #{path,jdbcType=VARCHAR}, #{ipAdd,jdbcType=VARCHAR}, 
      NOW(), #{browser,jdbcType=VARCHAR}, #{value,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wood.common.model.SystemLog">
    insert into T_01_SYSTEM_LOG
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="path != null">
        PATH,
      </if>
      <if test="ipAdd != null">
        IP_ADD,
      </if>
        CREATE_DATE,
      <if test="browser != null">
        BROWSER,
      </if>
      <if test="value != null">
        VALUE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="path != null">
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="ipAdd != null">
        #{ipAdd,jdbcType=VARCHAR},
      </if>
        NOW(),
      <if test="browser != null">
        #{browser,jdbcType=VARCHAR},
      </if>
      <if test="value != null">
        #{value,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
</mapper>